In [ ]:
A=input("enter A = ")
B=input("enter B = ")
print (f"value of A :{A} , value of B : {B}")

enter A = 23
enter B = 45
value of A :23 , value of B : 45

In [ ]:
#there are 31 reserve words in python. they are :and,as,assert,break,class,continue,def,del,elif,else,except,exec,finally,for,from,global,if,import,in,is,lambda,not,or,pass,print,raise,return,try || we should not use this words as variable as these are already in-bulit in python.

In [ ]:
fname= input ("your frist name :  ")
lname= input ("your last name : ")
print (f"mail ID :{lname}.{fname}@gmail.com ")

your frist name :  Rafat
your last name : shariar
mail ID :shariar.Rafat@gmail.com

In [ ]:
name= input ("your name : ")
address= input ("your address : ")
income = input ("your daily income : ")
print (f"Hi I'm {name}"
       f" my adress is {address}",
       f" I earn {income}$ daily")

your name : nabila
your address : 22\3
your daily income : 20
Hi I'm nabila my adress is 22\3  I earn 20$ daily

In [ ]:
name= input ("your name : ")
address= input ("your adress : ")
dateofbirth = input ("your date of birth :" )
print (f"student name is {name} ; lives in  {address}; born in {dateofbirth}")

your name : nabila
your adress : dhaka
your date of birth :10 march,1996
student name is nabila  ; lives in  dhaka; born in 10 march,1996

In [ ]:
A= 22.4
print(f"data type before: {type(A)}, value of A :{A}")
A=int (A)
print (f"data type After: {type(A)}, value of A :{A}")

data type before: <class 'float'>, value of A :22.4
data type After: <class 'int'>, value of A :22

In [ ]:
A="22"
print (f"data type before :{type(A)}, value of A : {A}")
A=complex(A)
print (f"data type before :{type(A)}, value of A : {A}")

data type before :<class 'str'>, value of A : 22
data type before :<class 'complex'>, value of A : (22+0j)

In [ ]:
#error1: i didnt write f in the brackets; so the value wasn't showing. after putting f everything run well
#error2: case sensitivity; i wrote a instead of A